<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EU1_E5_Biografia_Higareda Vázquez</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="row g-0">
            <div class="card d-flex col-md-4 position-absolute top-0 start-0 border border-0 ms-5 mt-5 shadow p-1 mb-5 bg-body-tertiary rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h5 class="card-title d-flex justify-content-start me-5">Higareda Vázquez María del Pilar</h5>
                        </div>
                        <div class="col-md-2">
                            <span class="badge text-bg-success justify-content-md-end ms-4">Activo</span>
                        </div>
                    </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item active" aria-current="true">Infografia</li>
                            <li class="list-group-item">Dirección</li>
                            <li class="list-group-item">Historial académico</li>
                          </ul>
                    </div>
                    <div class="col-md-8">
                        <p class="card-text">Soy una alumna de utez que ya está bien estresada y tiene frío</p>
                    </div>
                  </div>
                </div>
            </div>
                
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>